h1 {
    background-color: rgb(41, 41, 169);
    color: rgb(80, 157, 78);
    padding: 20px;
    grid-area: header;
}
p {
    background-color:
}
h3 {
    text-decoration: underline;
}

ul:nth-child(1) {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #777986;
    padding: 15px 20px;
    margin: 0;   
    top: 0;
    left: 0;
    width: 100%;
}
.nobullets{
    list-style: none;
    
    color: aqua;
}
a{
   text-decoration: none; 
   color: rgb(41, 41, 169);
}

 
  
  